
<meta charset="UTF-8">

<link rel="stylesheet" href="/public/style.css" type="text/css" />

<header>
  <div class="brand">tinyApp</div>
  <input class="reg" type="button" value="Log Out" onclick="location.href='/'"/>
  <div>
    <h1> <%= email %> </h1>
  </div>
</header>
