<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include partials/_header-pre-reg %>
  <title>Error!</title>
</head>
<body>
  <h1>IMPOSTER!!!
  WRONG USERNAME??</h1>
  <input class="reg" type="button" value="TRY AGAIN" onclick="location.href='/'"/>
</body>
</html>