<!DOCTYPE html>

<html lang="en">

<head>
  <% include partials/_header %>
  <title>Index</title>
</head>

<body>
<h1>DOOOOOM MAGNET</h1>
  <form method="GET" action="/create">
    <input type="submit" value="Shorten A URL!"/>
  </form>
</body>

<footer>
  Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
</footer>

</html>