<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../views/partials/_header.ejs %>
</head>
<body>
  <div>
    <h1>elephant</h1>
  </div>
  <form method="GET" action="/create">
    <button type="submit">Shorten A URL!</button>
  </form>
</body>
</html>