<!DOCTYPE html>

<html lang="en">

  <body>
    <h1>Enter New URL in the Form Below</h1>
      <form method="POST" action="/list"/>
        <input type="text" name="longURL" id="longURL" placeholder="http://"/>
        <input type="submit" value="Update" />
      </form>
  </body>
</html>

<!-- <form method="POST" action="/list" style="margin:150px;">
    <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
</form> -->